html {
  --color-green-1: #219653;

  --color-light-1: #ffffff;

  --color-grey-1: #5b5b5b;
  --color-grey-2: #989898;

  --color-dark-1: #000000;
  --color-dark-2: #0a0a0a;
  --color-dark-3: #272727;
  --color-dark-4: #1f2626;
}
